<?php

return [
    'MAGENTO_CLOUD_RELATIONSHIPS' => base64_encode(json_encode([
        'database' => [
            [
                'host' => 'db',
                'path' => 'magento2',
                'password' => 'magento2',
                'username' => 'magento2',
                'port' => '3306',
                'type' => 'mysql:10.2'
            ]
        ],
        'redis' => [
            [
                'host' => 'redis',
                'port' => '6379',
                'type' => 'redis:5.0'
            ]
        ]
    ])),
    'MAGENTO_CLOUD_ROUTES' => base64_encode(json_encode([
        'http://magento2.docker/' => [
            'type' => 'upstream',
            'original_url' => 'http://{default}'
        ],
        'https://magento2.docker/' => [
            'type' => 'upstream',
            'original_url' => 'https://{default}'
        ]
    ])),
    'MAGENTO_CLOUD_VARIABLES' => base64_encode(json_encode([
        'ADMIN_EMAIL' => 'admin@example.com',
        'ADMIN_PASSWORD' => '123123q',
        'ADMIN_URL' => 'admin'
    ])),
    'MAGENTO_CLOUD_APPLICATION' => base64_encode(json_encode([
        'hooks' => [

        ],
        'mounts' => [
            'var' => [
                'path' => 'var',
                'orig' => 'shared:files/var'
            ],
            'app/etc' => [
                'path' => 'app/etc',
                'orig' => 'shared:files/etc'
            ],
            'pub/media' => [
                'path' => 'pub/media',
                'orig' => 'shared:files/media'
            ],
            'pub/static' => [
                'path' => 'pub/static',
                'orig' => 'shared:files/static'
            ]
        ]
    ])),
];
