parameters:
    level: 5
    paths:
        - ../../src
    excludes_analyse:
        - ../../src/Test/*
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: "#.*Ternary operator condition is always true*#"
          path: ../../src/Command/Image/GeneratePhp.php

