<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         colors="true"
         columns="max"
         bootstrap="../../autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">../../src/Test/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
            <exclude>
                <directory>../../src/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
